	* {
		box-sizing: border-box;
	}
	html, body {
		margin: 15px;
		font-family: 'Roboto', sans-serif;
	}


	.navbar, ul{
		display: flex;
		list-style: none;
	}

	.navbar{
		justify-content: space-between;
		padding-left: 6px;
		padding-right: 2px;
		background-color: #F7F7F7;
		color: #33689C;
		border: 1px solid lightgrey;
		font-family: 'Ubuntu', sans-serif;
	}

	main{
		height: auto;
		margin: 4px;
	}

	#img1{
		display: block;
		margin-top: 20px;
		margin-bottom: 30px;
	  	margin-left: auto;
	  	margin-right: auto;
	  	width: 40%;
	  	border-radius: 20px;
		-webkit-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);

	}

	#img2{
		margin-top: 20px;
		margin-bottom: 30px;
	  	margin-left: auto;
	  	margin-right: auto;
	  	width: 30%;
	  	height: 30%;
	  	border-radius: 20px;
	  	display: inline;
		-webkit-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);

	}

	#img3{
		display: block;
		margin-top: 20px;
		margin-bottom: 30px;
	  	margin-left: auto;
	  	margin-right: auto;
	  	width: 40%;
	  	border-radius: 20px;
	  	-webkit-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);
		box-shadow: -13px 10px 20px 0px rgba(0,0,0,0.16);

	}

	h2{
		margin-left: 8px;
	}

	h1{
		text-align: center;
		font-family: 'Bevan', cursive;
	}

	h2{
		font-family: 'Bevan', cursive;
	}

	li{
		margin-right: 15px;
	}

	li a, a{
		text-decoration: none;
		color: #33689C;
	}

	li a:hover{
		opacity: .8;
	}

	.container{
		display: flex;
		width:80%
		margin: auto;
	}


	section p{
		line-height: 25px;
	}


	article {
		margin: 10px;
	}

	.article2{
		width: 40%;
		margin:auto;
		line-height: 25px;
	}

	article p{
		text-align: justify;
		line-height: 25px;
	}

	footer{
		text-align: center;
		font-size: 12px;
		border-bottom: 1px solid black;
		margin-top: 15px;
		width: 100%;
	}

	footer a:hover{
		text-decoration: underline;
	}





				@media screen and (max-width: 991px) {
					.container{
					display: inline-block;
					}

					.article2{
					width: 80%;
					line-height: 25px;
					margin:auto;
					}

					h2{
					margin-left: 0px;
					}

					article{
					line-height: 25px;
					}

					section p{
						line-height: 25px;
						text-align: left;
					}

					#img3{
				  	width: 80%;
					}

					#img2{
				  	width: 100%;
					}

					#img1{
				  	width: 100%;
				  	}

				  	main{
					height: 100%;
					}

				}


				@media screen and (max-width: 479px) {
					 .navbar{
						flex-direction: column;
						align-items: center;
						padding:0;
					}

					.navbar p{
						text-align: center;
						opacity: .5;
					}

					.navbar ul{
						align-items: center;
					}

					section p{
					text-align: left;
					}

					#img1{
				  	width: 100%;
				  	}

				  	.container{
					display: inline-block;
					}

					#img2{
					margin-top: 5px;
					margin-bottom: 2px;
				  	margin-left: auto;
				  	margin-right: auto;
				  	width: 100%;
				  	display: inline-block;
					}

					#img3{
				  	width: 100%;
					}

					main{
					height: auto;
					}

					.article2{
					width: auto;
					}

					h2{
						font-size: 18px;
						text-align: center;
						margin-left: 0;
					}

					@media screen and (min-width: 991.1px ){
					.container{
					width:80%
					margin: auto;
					}

				}
				}
				}

